In [7]:
import pandas as pd
from datetime import timedelta
import random

###  Read CSV to a pandas data frame and append itself 20 times (100 mi rows)

In [9]:
%%time
trip = pd.read_csv('files/trips.csv')
trip['datetime'] = pd.to_datetime(trip.datetime)
for i in range(20):
    trip = trip.append(trip)
    
trip.reset_index(inplace=True)
trip.shape[0]

CPU times: user 11.6 s, sys: 9.8 s, total: 21.4 s
Wall time: 21.5 s

104857600

### Splitting dataframe into x equal parts to create random timestamps for each x part

In [10]:
%%time
parts = 20
slice_size = int(trip.shape[0]/parts)
for i in range(0,trip.shape[0],slice_size):
    end = i + slice_size-1
    trip.loc[i:end,'datetime'] = trip.loc[i:end].datetime + timedelta(days=random.randint(-365*4,365*2))

CPU times: user 8.19 s, sys: 6.43 s, total: 14.6 s
Wall time: 14.9 s

### Amount of data by generated year

In [11]:
trip.groupby(trip.datetime.dt.year).sum()

               index
datetime
2014       314467076
2015      1761713004
2016       778568480
2017      1038092240
2018       691901337
2019       605709063

In [12]:
%%time
trip.drop('index',1,inplace=True)
trip.to_csv('files/100mi.csv',index=False)

CPU times: user 10min 20s, sys: 27.9 s, total: 10min 48s
Wall time: 10min 55s